<div class="panel panel-default">
 <div class="panel-heading">
   メッセージ一覧
 </div>
 <div class="panel-body">
  <% @messages.each do |msg| %>
  <span class="label label-info"><%= msg.name %></span>
  <%= msg.body %>
  <br>
  <% end %>
 </div>
</div>

<%= form_for(@message) do |f| %>
 <div class="form-group form-inline">
  <%= f.label "名前: ", for: "nameLabel" %>
  <%= f.text_area :name , id: "nameLabel", rows: 1, class: "form-control" %>
 
  <%= f.label "内容: ", for: "contentLabel" %>
  <%= f.text_area :body, id: "contentLabel", rows: 1, class: "form-control" %>

  <%= f.submit class: "btn btn-sm btn-primary" %>
 </div>
 
 <% end %>
